@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto);

$backgroundColor: #fdd600;

.header {
	font-family: Roboto, sans-serif;
	border: none;
	width: 100%;
	background-color: $backgroundColor;

	.header_container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;

		.logo {
			width: 250px;
			height: auto;
			margin-right: 10px;
		}
	}

	.header_search {
		background: white;
		display: flex;
		width: 40%;
		margin-left: 10px;
		margin-right: 10px;

		padding: 0 5px;
		border-radius: 4px;

		.button_search {
			font-size: 16px;
			border: none;
			cursor: pointer;
			background: none;
		}

		.input_field {
			width: 100%;
			float: right;
			padding: 6px;
			border: none;
			font-size: 16px;
		}
	}

	.header_hotline {
		margin: 0 10px;
		background-color: #9d060e;
		width: auto;
		border-radius: 4px;
		padding: 10px;

		font-size: 16px;
		color: #fff;
	}

	.header_cart {
		margin: 0 10px;
		background-color: $backgroundColor;
		display: flex;
		align-items: center;
		justify-content: center;

		.button_cart {
			font-size: 25px;
			float: left;
			background-color: $backgroundColor;
			cursor: pointer;
			border: none;
		}

		.cart {
			text-align: center;
		}
	}
}
