$yellow: #fdd600;
$white: #fff;
$red: #9d060e;

.header {
	font-family: sans-serif;
	border: none;
	width: 100%;
	background-color: $yellow;

	.header_container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;

		.logo {
			width: 250px;
			height: auto;
			margin-right: 10px;
		}
	}

	.header_search {
		background: $white;
		display: flex;
		width: 40%;
		margin-left: 10px;
		margin-right: 10px;

		padding: 0 5px;
		border-radius: 4px;
		align-items: center;
		justify-content: center;
		.button_search {
			display: block;
			text-align: center;
			padding: 0 10px;
			cursor: pointer;
		}

		.input_field {
			width: 100%;
			float: right;
			padding: 6px;
			border: none;
			font-size: 16px;
		}
	}

	.header_hotline {
		margin: 0 10px;
		background-color: $red;
		width: auto;
		border-radius: 4px;
		padding: 10px;

		font-size: 16px;
		color: $white;
	}

	.header_cart {
		margin: 0 10px;
		background-color: $yellow;
		display: flex;
		align-items: center;
		justify-content: center;

		.button_cart {
			font-size: 25px;
			float: left;
			background-color: $yellow;
			cursor: pointer;
			border: none;
		}

		.cart {
			text-align: center;
		}
	}
}
