$yellow: #fdd600;
$white: #fff;
$red: #e02020;
$black: #050505;
$grey: #6d7278;
$orange: #fa6400;
$pearl: #faebea;

$gradient-background: linear-gradient(180deg, #f7b500, #fa6400);

.wrapper {
	background-color: $white;
	padding: 10px 5px;
	border-radius: 5px;
	border: 1px solid #ddd;

	.container {
		width: 100%;
		.sale_tag {
			display: flex;
			color: $white;
			align-items: center;
			position: relative;
			padding-bottom: 5px;

			img {
				position: absolute;
				left: -2px;
				width: 23px;
				top: -1px;
			}
			.sale_price {
				background-image: $gradient-background;

				padding: 1px 10px 1px 25px;
				border-radius: 30px;

				font-size: 12px;
				font-weight: 700;
				line-height: 18px;
			}
		}

		.product_photo {
			img {
				text-align: center;
				position: relative;
				width: 100%;
				max-height: 180px;
			}
		}
		.product_detail {
			.product_name {
				height: 15%;
				margin: 7px 0;
				font-size: 12px;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: -.3px;
				color: $black;
				display: block;
				display: -webkit-box;
				max-width: 100%;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: pre-line;
			}
			.product_price {
				text-align: left;
				letter-spacing: -.4px;
				line-height: 16px;
				font-weight: 700;
				b {
					font-size: 16px;
					color: $red;
					margin-right: 7px;
				}
				span {
					text-decoration: line-through;
					font-size: 12px;
					color: $grey;
				}
			}
		}
		.datmua_container {
			.alert {
				padding: 5px;
				margin-bottom: 5px;
				margin-top: 5px;

				font-size: 10px;
				font-weight: 400;
				font-stretch: normal;
				font-style: normal;
				letter-spacing: -.25px;
				line-height: normal;

				border-radius: 4px;

				color: $orange;
				background-color: $pearl;
			}
			.button_datmua {
				width: 100%;

				border: 1px solid $red;
				border-radius: 7px;
				box-sizing: border-box;

				line-height: 36px;
				text-align: center;
				font-size: 12px;
				font-weight: 700;
				color: $white;
				background-color: $orange;
			}
		}
		.view_count {
			padding: 10px 0;
			text-align: left;
			font-size: 10px;
			font-weight: 400;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -.25px;
			color: $grey;
		}
	}
}
