$yellow: #ffc534;
$orange: #fa6400;
$white: #fff;
$black: #050505;

.sale_container {
	font-family: sans-serif;
	border: none;
	background-color: $yellow;

	text-align: center;
	.banner {
		img {
			width: 100%;
		}
	}

	.count_down {
		padding: 20px;
		.title {
			color: $orange;
			font-size: 30px;
			font-weight: bold;
		}
		.flexBlock {
			color: $black;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			.item {
				padding: 10px 20px;
				div {
					font-size: 45px;
				}
			}
		}
	}

	.product_list {
		width: 85%;
		margin: 0 auto;
		margin-bottom: 8px;
		.layout_banner {
			margin: 20px 0px;
			img {
				width: 60%;
			}
		}
	}

	.metadata {
		width: 85%;
		background: $white;
		border-radius: 5px;

		margin: 0 auto;

		.content {
			padding: 10px;
			text-align: left;
		}
	}
}
