$backgroundColor: #ffc534;

.saleContainer {
	font-family: sans-serif;
	border: none;
	background-color: $backgroundColor;

	text-align: center;
	padding: 10px;
	.banner {
		img {
			width: 100%;
		}
	}

	.countDown {
		padding: 20px;
		.title {
			color: #ff4800;
			font-size: 30px;
			font-weight: bold;
		}
		.flexBlock {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			.item {
				padding: 10px 20px;
				div {
					font-size: 45px;
				}
			}
		}
	}

	.productList {
		padding: 0 30px;
		.layoutBanner {
			padding: 20px;
			img {
				width: 60%;
			}
		}
	}
}
